// 颜色定义规范
$color-background = #f5f5f5
$color-text = #3d3d3d

$color-header-background = #fff
$color-header-text = #333

$color-tab-background = #fff
$color-tab-text = #666
$color-tab-text-active = #eb4747

//字体定义规范
$font-size-small = 0.24rem
$font-size-small-x = 0.26rem
$font-size-medium = 0.28rem
$font-size-medium-m = 0.3rem
$font-size-medium-x = 0.32rem
$font-size-large = 0.36rem
$font-size-large-m = 0.4rem
$font-size-large-x = 0.44rem